In [3]:
import pandas as pd
import requests

In [4]:
url = 'https://br.investing.com/commodities/brent-oil-historical-data'

In [5]:
#Informações para fingir ser um navegador
header = {
  "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
  "X-Requested-With": "XMLHttpRequest"
}

In [6]:
r = requests.get(url, headers=header)

In [20]:
dados_novos = pd.read_html(r.text)

In [21]:
dados_novos = pd.read_html(r.text, header=0, attrs = {'id': 'curr_table'}, thousands=' ', decimal=',')[0]

In [22]:
dados_novos

          Data  Último  Abertura  Máxima  Mínima     Vol.     Var%
0   01.04.2022  104.70    105.20  105.38  104.01        -   -0,73%
1   31.03.2022  105.47    110.87  110.96  104.20        -   -7,03%
2   30.03.2022  113.45    112.00  114.80  110.74   72,33K    2,92%
3   29.03.2022  110.23    110.10  114.83  104.84   93,68K   -2,00%
4   28.03.2022  112.48    119.90  119.90  109.06  150,82K   -6,77%
5   25.03.2022  120.65    118.88  120.92  115.16  133,46K    1,36%
6   24.03.2022  119.03    121.56  123.74  116.93  177,66K   -2,11%
7   23.03.2022  121.60    114.70  122.34  114.45  224,53K    5,30%
8   22.03.2022  115.48    117.04  119.48  112.64  204,66K   -0,12%
9   21.03.2022  115.62    107.50  116.80  107.06  196,49K    7,12%
10  18.03.2022  107.93    106.80  109.59  105.78  168,91K    1,21%
11  17.03.2022  106.64     98.61  107.50   97.75  200,95K    8,79%
12  16.03.2022   98.02     99.14  103.70   96.93  246,82K   -1,89%
13  15.03.2022   99.91    105.34  105.71   97.44  318,12K   -6,54%
14  14.03.2022  106.90    113.15  113.15  103.49  265,91K   -5,12%
15  11.03.2022  112.67    110.26  113.91  107.13  287,39K    3,05%
16  10.03.2022  109.33    112.65  118.36  109.00  352,34K   -1,63%
17  09.03.2022  111.14    130.28  131.64  105.60  521,58K  -13,16%
18  08.03.2022  127.98    124.56  133.15  121.31  469,99K    3,87%
19  07.03.2022  123.21    122.79  139.13  119.04  419,93K    4,32%
20  04.03.2022  118.11    114.23  118.98  109.62  334,41K    6,93%
21  03.03.2022  110.46    115.27  119.84  109.40  452,52K   -2,19%
22  02.03.2022  112.93    107.34  115.11  106.83  490,57K    7,58%
23  01.03.2022  104.97     98.43  107.67   98.30  492,51K    3,94%

In [26]:
dados_antigos = pd.read_csv('../data/Petróleo Brent Futuros Dados Históricos.csv')
dados_antigos

            Data Último Abertura Máxima Mínima     Vol.    Var%
0     01.07.2019  65,06    65,05  66,75  64,22  361,41K  -2,24%
1     28.06.2019  66,55    66,51  66,84  66,08   34,62K   0,00%
2     27.06.2019  66,55    66,05  66,82  65,63  103,16K   0,09%
3     26.06.2019  66,49    65,80  66,85  65,60  141,95K   2,21%
4     25.06.2019  65,05    64,89  65,98  64,17  205,80K   0,29%
...          ...    ...      ...    ...    ...      ...     ...
4995  10.01.2000  23,73    23,04  23,78  23,04   26,39K   2,77%
4996  07.01.2000  23,09    23,57  23,98  23,05   34,83K  -2,24%
4997  06.01.2000  23,62    23,55  24,22  23,35   44,66K  -0,46%
4998  05.01.2000  23,73    24,25  24,37  23,70   30,31K  -2,71%
4999  04.01.2000  24,39    23,90  24,70  23,89   32,51K  -2,75%

[5000 rows x 7 columns]

In [28]:
dados_antigos.to_json('../data/historico_brent.Json')

In [31]:
json.loads('../data/historico_brent.Json')

NameError: name 'json' is not defined